#!/bin/bash

# common
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Linux
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew bundle --file="$HOME/.Brewfile_common" # assume brew is installed
{{ end }}

# macOS
{{ if eq .chezmoi.os "darwin" }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv)"

softwareupdate --install-rosetta --agree-to-license
brew bundle --file="$HOME/.Brewfile" # assume brew is installed

defaults write -g ApplePressAndHoldEnabled -bool false
defaults write -g KeyRepeat -int 1
defaults write -g InitialKeyRepeat -int 12

{{ end }}
