#!/bin/bash

# common
NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Linux
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew bundle --file="$HOME/.Brewfile_common" 
# brew bundle --file="$HOME/.Brewfile_linux" 

{{ end }}

# macOS
{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --file="$HOME/.Brewfile_common" 
brew bundle --file="$HOME/.Brewfile_mac" 

softwareupdate --install-rosetta --agree-to-license

defaults write -g ApplePressAndHoldEnabled -bool false
defaults write -g KeyRepeat -int 1
defaults write -g InitialKeyRepeat -int 12

{{ end }}
